<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{about.link}">About Us</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-container">
            <h1 th:text="#{about.link}">About us</h1>
            <nav>
                <ul>
                    <li><a th:href="@{/}" th:text="#{home.link}">Home</a></li>
                    <li><a th:href="@{/products}" th:text="#{products.link}">Products</a></li>

                    
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/cart}" th:text="#{cart.link}">Cart</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/users/profile}" th:text="#{profile.link}">Profile</a></li>
                    <li><a th:href="@{/about}" th:text="#{about.link}">About Us</a></li>

                    
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/users/logout}" method="post">
                            <button type="submit" class="logout-button" th:text="#{logout.button}">Logout</button>
                        </form>
                    </li>
                    <div class="language-switcher">
                        <button class="language-button" onclick="changeLang('en')"> 
                            <img src="https://e7.pngegg.com/pngimages/764/991/png-clipart-flag-of-england-flag-of-the-united-kingdom-english-flag-of-great-britain-england-english-flag.png" alt="English Flag">
                        </button>
                        <button class="language-button" onclick="changeLang('bg')">
                            <img src="https://e7.pngegg.com/pngimages/867/495/png-clipart-flag-of-bulgaria-bulgarian-language-flag-miscellaneous-flag-thumbnail.png" alt="Bulgarian Flag">
                        </button>

                    </div>

                </ul>
            </nav>
        </div>
    </header>
</div>

<main>
    <section class="about-content">
        <h2 th:text="#{about.link}">About Us</h2>
        <p th:text="#{about.description}">Welcome to our online electronics store! We offer a wide range of electronics including the latest smartphones, laptops, and accessories. Our mission is to provide top-quality products at competitive prices while delivering exceptional customer service.</p>
        <p th:text="#{about.browse}">Browse our extensive collection and find the perfect gadget to suit your needs. Whether you're looking for the newest tech or reliable everyday electronics, we've got you covered.</p>
        <h3 th:text="#{connectWithUs}">Connect with Us</h3>
        <p th:text="#{followUs}">Stay updated with our latest news and promotions by following us on social media:</p>
        <ul class="social-media-links">
            <li><a href="https://www.facebook.com/viktor.krustev.73" target="_blank"><img src="https://freepnglogo.com/images/all_img/1697562496facebook-logo-png.png" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com/viktor_krstev/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/800px-Instagram_icon.png" alt="Instagram"></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-h-e2hgz8mwGfCt4gvj4IgMG_wAUolVM6w&s" alt="Twitter"></a></li>
            <li><a href="https://passport.abv.bg/app/profiles/login?email=viktorkrustev03@abv.bg&retpath=https%3A%2F%2Fnm.abv.bg%2FMail.html&dest=home"><img src="https://play-lh.googleusercontent.com/GU7sBMIql4JHXd476sImjzIeFHct_mpgjC7MS7qVHcd3FGYTz-8c7fhHTXnqk5ndXYA" alt="Email"></a></li>
        </ul>
    </section>
</main>

<footer>
    <p>&copy; 2024 My Online Store. All rights reserved.</p>
</footer>

<script>
    function changeLang(lang) {
        window.location.href = '?lang=' + lang;
    }
</script>
</body>
</html>
