<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-container">
            <h1>Welcome to my store</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/users/profile">Profile</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li>
                        <form th:action="@{/users/logout}" method="post">
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="color-stripe"></div>

    <div class="checkout-container">
        <h2>Checkout</h2>
        <div class="checkout-form">
            <form th:action="@{/confirm-order}" method="post" th:object="${orderDTO}">
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" th:field="*{deliveryAddress}" required>
                    <span th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" th:field="*{contactPhone}" required>
                    <span th:if="${#fields.hasErrors('contactPhone')}" th:errors="*{contactPhone}" class="error-message"></span>
                </div>

                <h3>Order Summary</h3>
                <div th:each="item : ${cartItems}" class="order-item">
                    <img th:src="${item.imageUrl}" alt="Product Image">
                    <div class="order-item-details">
                        <h4 th:text="${item.name}">Product Name</h4>
                        <p th:text="'$' + ${item.price}">Price</p>
                    </div>
                </div>

                <div class="order-total">
                    <p>Total Price: <span th:text="'$' + ${totalPrice}"></span></p>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="totalPrice" th:value="${totalPrice}" />

                <h4>We will email you with your order details!</h4>

                <button type="submit" class="order-confirm">Confirm Order</button>
            </form>
        </div>
    </div>


    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Online Shop. All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>
