.cart-container {
    background-color: white;
    padding: 30px;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-container h2 {
    margin-top: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif; 
    font-size: 36px;
    font-weight: 700; 
    color: #333;
    border-bottom: 2px solid #333; 
    padding-bottom: 5px; 
    margin-bottom: 15px;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-title {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.cart-item-price {
    margin: 0;
    color: #777;
}

.cart-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.cart-item button:hover {
    background-color: #c82333;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.cart-total p {
    font-size: 18px;
}

.cart-total span {
    font-weight: bold;
    color: #333;
}
.buy {
    background: linear-gradient(to bottom right, cadetblue, royalblue);
    color: white;
    border: none;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    margin: auto; 
    display: block;
}

.buy:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.buy:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); 
}
